@font-face {
	font-family: "Montserrat";
	src: url("../assets/fonts/Montserrat-400/Montserrat-400.eot") format("eot"),
	url("../assets/fonts/Montserrat-400/Montserrat-400.woff2") format("woff2"),
	url("../assets/fonts/Montserrat-400/Montserrat-400.woff") format("woff"),
	url("../assets/fonts/Montserrat-400/Montserrat-400.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "Montserrat";
	src: url("../assets/fonts/Montserrat-500/Montserrat-500.eot") format("eot"),
	url("../assets/fonts/Montserrat-500/Montserrat-500.woff2") format("woff2"),
	url("../assets/fonts/Montserrat-500/Montserrat-500.woff") format("woff"),
	url("../assets/fonts/Montserrat-500/Montserrat-500.ttf") format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: "Montserrat";
	src: url("../assets/fonts/Montserrat-700/Montserrat-700.eot") format("eot"),
	url("../assets/fonts/Montserrat-700/Montserrat-700.woff2") format("woff2"),
	url("../assets/fonts/Montserrat-700/Montserrat-700.woff") format("woff"),
	url("../assets/fonts/Montserrat-700/Montserrat-700.ttf") format("truetype");
	font-weight: 700;
}
